.App {
  padding-top: 20px;
  max-width:600px;
    min-width:600px;
}

.header {
  color: #294c7a;
  font-weight: 200;
}

.ats {
  color: #339996;
}

.disclaimer {
  font-size: 10px;
  font-weight: 100;
}
